<% title(@legal_request.legal_issue, "Lawyer Auctions") %>


<h2><%= @legal_request.legal_issue %></h2>

<%= link to "Edit Legal Request", edit_legal_request_path(@legal_request) %>
<%= link_to "Delete Legal Request", legal_request_path(@legal_request),
      method: :delete,
      confirm: "Are you sure you want to delete this legal request?" %>
<%= link_to "New Bid", new_legal_request_bid_path(@legal_request) %>
